<!-- python video 68 :- 18/12/22 -->
<!DOCTYPE html> 
<html>
    <head>
        <style>
            p{
                border: royalblue;
            }
        </style> 
        <title>
            Welcome python
        </title>
        
    </head>
<body style="background-color: aqua;">
    <style>
        p{
            border: 4px solid royalblue;
        }
    </style>
    <h1 style="font-size:90px;"><b> This is a Heanding</h1>
    <p>this is paragraph</p>
    <!-- <a href="https://www.youtube.com/watch?v=TLtkucXspqs&list=RDTLtkucXspqs&start_radio=1">you tube</a> 
        to put the click able link two other website  -->
    <!-- <img src="vk.jpg" width="900" height="1000"> -->
    <!-- image insert to htmel page  -->
    <p> this is normal font</p>
    <p style="color: red;">this is normal font</p>
    <p style="color: blue;">this is normal font</p>
    <p style="color:purple;">this is normal font</p>

</body>
</html>
<!-- <h1>Hello</h1> -->

<!-- python 69 video:-  --> 19/12/2022